[version-shield]: https://img.shields.io/static/v1?label=Версия&message={{version_tion}}&color=green
[version]: https://github.com/dentra/esphome-tion/releases/
[license-shield]: https://img.shields.io/static/v1?label=Лицензия&message=MIT&color=orange&logo=license
[license]: https://opensource.org/licenses/MIT
[esphome-release-shield]: https://img.shields.io/static/v1?label=ESPHome&message={{version_esphome}}&color=green&logo=esphome
[esphome-release]: https://github.com/esphome/esphome/releases/
[open-in-vscode-shield]: https://img.shields.io/static/v1?label=+&message=Открыть+в+VSCode&color=blue&logo=visualstudiocode
[open-in-vscode]: https://open.vscode.dev/dentra/esphome-tion
[telegram-shield]: https://img.shields.io/static/v1?label=Поддержка&message=Телеграм&logo=telegram&color=blue
[telegram]: https://t.me/esphome_tion
[donate-tinkoff-shield]: https://img.shields.io/static/v1?label=Пожертвования&message=Т-Банк&color=yellow
[donate-tinkoff]: https://www.tinkoff.ru/cf/3dZPaLYDBAI
[donate-boosty-shield]: https://img.shields.io/static/v1?label=Пожертвования&message=Boosty&color=red
[donate-boosty]: https://boosty.to/dentra
[blog-shield]: https://img.shields.io/static/v1?label=Новости&message=Телеграм&logo=telegram&color=blue
[blog]: https://t.me/dentra_blog

[![Version][version-shield]][version]
[![ESPHome release][esphome-release-shield]][esphome-release]
[![License][license-shield]][license]
[![Telegram][telegram-shield]][telegram]
[![Blog][blog-shield]][blog]
[![Support author][donate-tinkoff-shield]][donate-tinkoff]
[![Support author][donate-boosty-shield]][donate-boosty]
[![Open in Visual Studio Code][open-in-vscode-shield]][open-in-vscode]

# Tion

English version of this page is available via [google translate](https://github-com.translate.goog/dentra/esphome-tion?_x_tr_sl=ru&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp).

Управление бризерами Tion с помощью ESP в вашей системе управления умным домом.

Поддерживаются Home Assistant [API](https://esphome.io/components/api.html) и
любые другие системы управления умным домом через протокол
[MQTT](https://esphome.io/components/mqtt.html).

Построено на базе технологии кастомных компонентов [ESPHome](https://esphome.io/).

**Поддерживаемые модели бризеров и протоколы взаимодействия:**

- Tion 4S (BLE, UART)
- Tion 3S (BLE, UART)
- Tion Lite (BLE, UART)
- Tion O2 Mac (UART - бризер должен иметь возможность подключения RF-модуля, наличие самого модуля не обязательно)

Итоговая прошивка позволяет управлять следующими функциями:

- Включение/Выключение
- Обогрев
- Целевая температуры нагрева
- Регулировка скорости притока воздуха
- Звуковое оповещение (для O2 только если физически включено на бризере)
- Световое оповещение (только для 4S и Lite)
- Управление режимом приток/рециркуляция (только для 4S и 3S)
- Управление режимом приток/рециркуляция/смешанный (только для 3S)
- Гибко настраиваемые пресеты
- Активация режима "Турбо"
- Настройка времени режима "Турбо"
- Сброс ресурса фильтров (кроме O2)
- Подтверждение сброса ресурса фильтра (кроме O2)
- Работа в режиме KIV (только Lite, при температуре выше 5°C и выключенном обогревателе)

Дополнительно осуществляется мониторинг следующих показателей:

- Температура снаружи
- Температура внутри
- Текущая потребляемая мощность нагревателя (только для 4S и Lite)
- Оставшееся время жизни фильтра (кроме O2)
- Индикация о требующейся замене/очистке фильтра (кроме O2)
- Оставшееся время работы режима "Турбо"
- Счетчик прошедшего воздуха (только для 4S и Lite)
- Текущая производительностью бризера
- Версия программного обеспечения бризера
- Версия аппаратного обеспечения бризера
- Измерение энергопотребления (только для 4S и Lite)
- Контроль состояния заслонки (только для Lite)
- Внутренняя температура (только для 4S и Lite)

А так же:

- Конфигурация пресетов сервисом
- Задание максимальной температуры нагрева 30°C, в том числе для модели Lite
- Дамп и сброс внутренних таймеров (только для 4S)
- Защита от обмерзания (только для 3S и O2, в 4S и Lite это неотключаемая встроенная возможность)
- Контроль и зависимость состояния нагревателя от состояния заслонки (только для 3S и 4S)
- ~~Поддержка управления с помощью штатного пульта бризеров изначально не поддерживающих эту
  возможность, например, O2 Mac или 3S без BLE модуля.~~

Полный список возможностей смотрите в [инструкции по конфигурации](CONFIGURATION.md).

> [!CAUTION]
>
> ## ⚠️ **ВНИМАНИЕ: Все что вы делаете, вы делаете исключительно на свой страх и риск!**

## Подключение

Доступно два вида подключения BLE и UART.

BLE подключение работает так же как ваш пульт или официальное приложение Tion Remote и доступно сразу после [прошивки](#прошивка).

UART подключение различно для разных моделей бризеров. Это оптимальный способ подключения.

### UART-подключение Tion 4S

Для UART-подключения `Tion 4S` используется **штатный** интеграционный разъем бризера.
Этот разъем находиться за заглушкой сразу под крышкой смены фильтров.
Разбор бризера не требуется, гарантия продолжает действовать.

Для подключения рекомендуется приобрести многократно проверенный сообществом
стик [Lilygo T-Dongle S3](https://github.com/Xinyuan-LilyGO/T-Dongle-S3).
Это готовое фабричное устройство в красивом и эргономичном корпусе.
Проще всего это сделать на AliExpress или Озон. Или собрать самостоятельно на базе ESP32.

> [!IMPORTANT]
> Для работы режима UART, прошивка бризера обязательно должна быть не ниже `02D2`,
> ниже работать не будет (основная на которой сейчас все проверяю `02E0`).
>
> Версия прошивки `03CD` имеет баг и так же не совместима, исправление производителем доступно только с версии `03E8`.
>
> Для апгрейда или даунгрейда встроенной прошивки бризера можно использовать проект
> [tion-web](https://dentra.github.io/tion-web/), где можно провести эти манипуляции прямо в браузере.

> [!IMPORTANT]
> Сборка и работа на ESP8266 возможна, но стабильность и работоспособность не
> гарантируется, так же, в этом направлении, не будет оказана никакая поддержка,
> используйте только ESP32!

По вопросам подключения велкам в [чат Telegram][telegram].

> [!IMPORTANT]
> При работе в UART-режиме, бризер требует опроса не реже одного раза в 8-10 сек,
> в противном случае тион отключает питание на интеграционном порту. OTA-обновление,
> в зависимости от удаленности от роутера и зашумленности эфира, может занимать более
> продолжительное время, в связи с этим иногда обновление может не завершится или стик
> может не успеть перегрузится. В зависимости от того что произошло может потребоваться
> выключить и повторно включить бризер. В случае неуспешного обновления будет работать
> предыдущая прошивка. В редких случаях может потребоваться повторная прошивка через USB.

### UART-подключение Tion 3S

Для UART-подключения `Tion 3S` используется штатный, но доступный только при небольшой
разборке бризера, разъем. Здесь рекомендуется использовать любую ESP8266
(ESP32 не тянет по питанию) используя [схему подключения](https://github.com/dentra/tion-hardware/blob/master/3s/NodeMCUv3-Tion.pdf).
При использовании ESP-01S не будет доступно подключение штатного модуля BLE,
в остальных случаях подключение будет полным.

> Буду благодарен за любые эксперименты и отзывы по использованию современных модулей ESP32,
> например, серий C6, S3, C3 или S2.

> [!CAUTION]
> Разбор бризера приведет к срыву пломбы и лишению гарантии!

По вопросам подключения велкам в [чат Telegram][telegram].

### UART-подключение Tion O2 Mac

Для UART-подключения `Tion O2 Mac` используется штатный, но доступный только при небольшой
разборке бризера, разъем. Требуются начальные навыки работы с паяльником для подключения
разъема типа XH2.54 4pin male к ESP (распиновку см. [здесь](https://github.com/dentra/tion-hardware/blob/master/o2/pin_schema.jpg))

Уточняйте доступность по приобретению готового переходника для подключения стика
[Lilygo T-Dongle S3](https://github.com/Xinyuan-LilyGO/T-Dongle-S3).

> [!IMPORTANT]
> Сборка и работа на ESP8266 возможна, но стабильность и работоспособность не
> гарантируется, так же, в этом направлении, не будет оказана никакая поддержка,
> рекомендуется использовать только ESP32!

> [!CAUTION]
> Разбор бризера приведет к срыву пломбы и лишению гарантии!

По вопросам подключения велкам в [чат Telegram][telegram].

### UART-подключение Tion Lite

Для UART-подключения `Tion Lite` используется штатный, но доступный только при разборке бризера, разъем.

**Распиновка разъема (XH 2.54mm, 4 pin) для подключения к ESP:**

Расположение пинов на разъеме начиная от разъема с косой проводов идущих к элементам управления и индикации
([фото](https://github.com/dentra/tion-hardware/blob/master/lt/uart.jpg)):

| #   | Разъем Tion | Цвет провода от готового разъема с AliExpress | Подключение к ESP32 |
| --- | ----------- | --------------------------------------------- | ------------------- |
| 1   | GND         | ⚫️ черный                                     | GND                 |
| 2   | RX          | 🔴 красный                                    | TX                  |
| 3   | TX          | ⚪️ белый                                      | RX                  |
| 4   | 3V3         | 🟡 желтый                                     | 3V3                 |

**Важные нюансы:**

1. Разъем XH 2.54mm:
   - Используется стандартный 4-пиновый разъем, как в Dupont, но с фиксатором.
   - Можно попробовать использовать провода Dupont, но потребуется подгибание или обрезание пластикового фиксатора.
2. Перекрестное подключение RX/TX:
   - RX на разъеме → TX на ESP (и наоборот). Это обязательно для корректной связи UART.
3. Проверка перед включением:
   - Прозвоните мультиметром GND и 3V3, чтобы избежать неприятностей.
   - Если данные не передаются, попробуйте поменять RX/TX местами.

> [!IMPORTANT]
> Если по каким-то причинам для ESP32 нехватает питания от 3.3В разъема бризера, то можно взять 5В от платы
> со светодиодами. Если смотреть на эту плату так чтобы разъем был сверху, а светодиоды снизу, то это будет 3 контакт.
> Подробнее см. на [фото](https://github.com/dentra/tion-hardware/blob/master/lt/5-volts.jpg).

> [!IMPORTANT]
> Сборка и работа на ESP8266 возможна, но стабильность и работоспособность не
> гарантируется, так же, в этом направлении, не будет оказана никакая поддержка,
> используйте только ESP32!

> [!IMPORTANT]
> Довольно распространенные модули esp32-c3-mini к сожалению "славятся" своим качеством сборки -
> непропай, короткое-замыкание, криво стоящие элементы - это все очень частые их болячки.
> Тут либо повезло и сразу заработало, либо совершенно неожиданные проблемы.
> Выбирайте надежных поставщиков.

> [!CAUTION]
> Разбор бризера приведет к срыву пломбы и лишению гарантии!

По вопросам подключения велкам в [чат Telegram][telegram].

## Прошивка

В данном проекте прошивка это не готовый бинарный файл, а конфигурация,
которую Вы можете очень гибко и практически неограниченно кастомизировать под свои требования.

Готовый файл конфигурации передается для сборки и заливки на ESP в [ESPHome](https://esphome.io/),
поэтому он должен быть у Вас предварительно установлен.
Проще всего это сделать пользователям Home Assistant, воспользовавшись механизмом [аддонов](https://esphome.io/guides/getting_started_hassio).
Для остальных пользователей доступен подробный [гайд](https://esphome.io/guides/getting_started_command_line).

Вы можете загрузить и использовать примеры готовых конфигурации для
[Tion 4S BLE](configs/tion-4s-ble.yaml), [Tion 4S UART](configs/tion-4s-uart.yaml),
[Tion Lite BLE](configs/tion-lt-ble.yaml), [Tion Lite UART](configs/tion-lt-uart.yaml),
[Tion 3S BLE](configs/tion-3s-ble.yaml), [Tion 3S UART](configs/tion-3s-uart.yaml) и
[Tion O2 UART](configs/tion-o2-uart.yaml)
все файлы с подробным описанием (на английском).
В примерах базовой сущностью выступает компонент Climate,
вы можете изменить его на Fan или даже обычный Switch и Number в качестве
управляющих элементов, смотрите [инструкцию по конфигурации](CONFIGURATION.md).

- Скачайте конфигурацию соответствующую модели вашего бризера
- Измените секцию `substitutions` согласно вашим предпочтениям
- Измените набор подключаемых пакетов по вашему вкусу и согласно вашему модулю ESP
- Добавьте или удалите необходимы сущности согласно [инструкции по конфигурации](CONFIGURATION.md)
- Поместите модифицированный файл в директорию с конфигурацией ESPHome
- Запустите сборку и прошивку вашей конфигурации
- Добавьте появившееся устройство в Home Assistant или систему вашего умного дома.

**По прошивке доступна [видео-инструкция](https://t.me/esphome_tion/13868).**

> [!TIP]
> MAC-адрес для работы в режиме BLE можно посмотреть в приложении Tion Remote,
> в приложении MagicAir отображаться другой адрес.

> [!IMPORTANT]
> Первая прошивка обязательно должна быть по проводу, прошивка "пустышкой" ESPHome не считается таковой!

> [!IMPORTANT]
> Для модели 4S, встроенная прошивка бризера обязательно должна быть от 02D2 до 048B включительно,
> посмотреть ее можно в приложении Tion Remote.
> С версиями `02D0` и `03CD` точно работать не будет!
>
> Для апгрейда или даунгрейда встроенной прошивки бризера можно использовать проект
> [tion-web](https://dentra.github.io/tion-web/), где можно провести эти манипуляции прямо в браузере.

## Использование в режиме BLE

Хорошим выбором ESP32 для BLE-подключения будет
стик [Lilygo T-Dongle S3](https://github.com/Xinyuan-LilyGO/T-Dongle-S3).
Это готовое фабричное устройство в красивом и эргономичном корпусе.
Проще всего это сделать на AliExpress или Озон.

После [прошивки](#прошивка) и перед первым использование вам необходимо ввести
свой бризер в режим сопряжения (см. инструкцию) и только потом включать ESP или
провести перезагрузку ESP с помощью функции `Restart`.

Дополнительно, только для `Tion 3S`, необходимо нажать кнопку `Pair` в Home Assistant или вашей системе умного дома.

> [!NOTE]
> Рекомендуется использовать ESP c двумя ядрами, например из линейки ESP32 или ESP32-S3.
> Допустимо использовании модулей с одним ядром, например ESP32-C3 или ESP32-С6, но рекомендуется.

> [!IMPORTANT]
> Для стабильной работы модели Lite, прошивка бризера должна быть не ниже 0570.

> [!IMPORTANT]
> Для сборки используется рекомендованная ESPHome версия ESP-IDF,
> если возникают проблемы с соединением используйте пакет esp-idf/4.4.7.yaml.

> [!IMPORTANT]
> Модули на базе ESP32-S2 физически не поддерживают BLE соединение, будьте внимательны при их приобретении.

> [!IMPORTANT]
> Довольно распространенные модули esp32-c3-mini к сожалению "славятся" своим качеством сборки -
> непропай, короткое-замыкание, криво стоящие элементы - это все очень частые их болячки.
> Тут либо повезло и сразу заработало, либо совершенно неожиданные проблемы.
> Выбирайте надежных поставщиков.

## Использование в режиме UART

Никаких дополнительный действий не требуется.

Если что-то сразу не заработало, убедитесь в правильности подключения,
частая ошибка это перепутанные RX-TX, плохой контакт в разъеме или некачественные провода.

## OTA-обновление

В режиме BLE - нет никаких ограничений.

В режиме UART для всех бризеров кроме Tion 4S - нет никаких ограничений.

В режиме UART только для Tion 4S - пожалуйста обратитесь к секции Important в разделе [UART-подключение Tion 4S](#uart-подключение-tion-4s).

## Полезности

### Просмотр и/или сброс внутренних таймеров Tion 4S

Добавьте в свою конфигурацию пакет `tion_4s_timers.yaml`:

```yaml
packages:
  tion:
 ...
  files:
 ...
    - packages/tion_4s_timers.yaml
```

## Использование с системами УД отличными от Home Assistant

Вы можете использовать этот компонент с любой системой УД через протокол MQTT.
Для этого в файле конфигурации найдите и раскомментируйте секцию `mqtt`, дополнительные параметры
broker, port и т.д. установите согласно настройкам вашей системы УД.
Со списком всех параметров можно ознакомиться на странице [документации](https://esphome.io/components/mqtt.html).

### Использование с УД Sprut.Hub

Необходимо настроить MQTT согласно описанию из секции выше.

Начиная с версии Sprut.Hub [beta] 1.10.2 (13054) и при включении пакета spruthub.yaml и mqtt.yaml, все подхватиться автоматически.

Для версии ниже необходимо установить [шаблон](https://github.com/l0rda/sprut-tion) от [@l0rda](https://github.com/l0rda).

Дополнительную помощь всегда можно получить в [группе Telegram][telegram].

## Принцип работы и тонкая настройка

### Получение состояния

Состояние бризера храниться исключительно в самом бризере и синхронизируется
раз в настраиваемый интервал времени `tion.update_interval` или сразу же
после отработки запроса на изменение. Если состояние получить невозможно, то об этом
информирует бинарный сенсор с типом `state`, таймаут получения ответа на запрос
состояния настраивается `tion.state_timeout` и должен быть меньше
интервала опроса `tion.update_interval`.

### Изменение состояния

Изменение состояния происходит относительно последнего ответа на запрос состояния
или предыдущего ответа запроса на изменение. Так как ответ может прийти медленней
чем придет новый запрос (актуально для скриптов) реализован механизм пакетной
отправки команд на изменение. Поступивший запрос на изменение стартует таймер,
время сработки которого задается параметром `tion.batch_timeout`, каждый последующий
запрос до сработки таймера объединяется с предыдущим и рестартует таймер, после
сработки таймера объединенный запрос отправляется бризеру на выполнение.

### Отправка команд

Все запросы выстраиваются в очередь и выполняются с интервалом `vport.command_interval`.
Размер очереди задается параметром `vport.command_size`. Минимальный интервал `0s` будет
срабатывать один раз в итерацию основного цикла.

## Планы на будущее

- ~~Поддержка UART-подключения `Tion 4S`~~
- ~~Поддержка UART-подключения `Tion 3S`~~
- ~~Поддержка UART-подключения `Tion O2 Mac`~~
- ~~Поддержка UART-подключения `Tion Lite`~~
- ~~Управление сбросом ресурса фильтров~~
- ~~Автоматическое управление притоком от внешнего датчика CO2~~
- ~~Управление через штатный пульт~~ (недоступно с выходом ESPHome 2025.5)
- Возможность работы бризера в режиме KIV (доступно для модели Lite)
- Релиз бинарных пакетов
- Автоматическое обновление
- Поддержка очистителей воздуха `Tion IQ 200` и `Tion IQ 400`

## Решение проблем и поддержка новых функций

Не стесняйтесь открывать [задачи](https://github.com/dentra/esphome-tion/issues) для сообщений об ошибках и запросов новых функций.

Так же вы можете воспользоваться [группой в Telegram][telegram].

## Ваша благодарность

Если проект был вам полезен, вы можете поддержать его развитие:

- 💳 [Поддержать рублём][donate-tinkoff] (Тинькофф)
- 🎩 [Оформить подписку][donate-boosty] (Boosty)
- 🌟 **Поставьте звезду** на GitHub — это тоже мотивирует!

Любая поддержка важна для развития проекта. Спасибо!

## Коммерческое использование

По вопросам коммерческого использования или заказной разработки/доработки,
обращайтесь в [личные сообщения телеграм](https://t.me/dtrachuk).
