name: ci

on:
  push:
    branches: [next]
  pull_request:
  schedule:
    # Once per week on wednesday
    - cron: 0 12 * * 3

env:
  FORCE_COLOR: 1
  ESPHOME_VERSION: "2025.6.0"
  PYTHON_VERSION: "3.12"
  ESPHOME_DATA_DIR: ".esphome"
  TESTS_DIR: "tests/gen"

jobs:
  build:
    if: startsWith(github.server_url, 'https://github.com')
    runs-on: ubuntu-latest
    outputs:
      firmware-path: ${{ steps.esphome.outputs.firmware-path }}
    strategy:
      # don't fail the entire matrix on failure
      fail-fast: false
      matrix:
        # run copies of the current job in parallel
        type:
          - o2-uart
          - 3s-ble
          - 3s-uart
          - 4s-ble
          - 4s-uart
          - lt-ble
          - lt-uart
        conn:
          - api
          - mqtt
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Generate fake secrets.yaml
        run: |
          echo -e "wifi_ssid: ssid\nwifi_password: password\nmqtt_broker: localhost\nmqtt_port: 1883" > ${{ env.TESTS_DIR }}/secrets.yaml
      - name: Register problem matchers
        run: |
          echo "::add-matcher::.github/workflows/matchers/clang-tidy.json"
          echo "::add-matcher::.github/workflows/matchers/gcc.json"
      - name: Build project
        uses: dentra/esphome-action@main
        id: esphome
        with:
          version: ${{ env.ESPHOME_VERSION }}
          config: ${{ env.TESTS_DIR }}/tion-${{ matrix.type }}-${{ matrix.conn }}.yaml
          substitutions: |
            {
              "project_version": "test",
              "project_name": "${{ matrix.type }}-${{ matrix.conn }}",
              "project_source": "../../components",
              "project_branch": "${{ github.ref_name }}"
            }
          python-version: ${{ env.PYTHON_VERSION }}
      # - name: Show firmware artifacts
      #   run: |
      #     ls -l ${{ steps.esphome.outputs.firmware-path }}/firmware.*
      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: ${{ matrix.component }}-test-${{ github.run_id }}.zip
      #     path: |
      #       ${{ steps.esphome.outputs.firmware-path }}/firmware.*
      #       !${{ steps.esphome.outputs.firmware-path }}/firmware.bin
      #     retention-days: 3
      #     if-no-files-found: error
